html{
    --white: #ffffff;
    --tan: #ded2bf;
}

body{
    background-color: var(--tan);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 4em;
    padding: 2em;

}

h1{
    font-size: 40px; 
}

tr{
    text-align: left;
}

