html{
    --white: #ffffff;
    --green: #037642;
}

body{
    background-color: var(--green);
    color: var(--white);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 1em;
    padding: 2em;
}

h1{
    font-size: 40px; 
}

tr{
    text-align: left;
}

