<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet" href="plants.css">
</head>

<body>
    <h1>My Plants</h1>
    <div id="myPlants">
        <table>
            <thead>
                <th>Name</th>
                <th>Botanical Name</th>
                <th>Light</th>
                <th>Pet Friendly</th>
            </thead>

            <tbody>
                <tr is="plants-component"
                v-for="(plants, index) in plants"
                v-bind:class="{
                    even: (index + 1) % 2 === 0, 
                    odd: (index + 1) % 2 !==0}"
                    is="plants-component"
                        v-bind:name="plants.name"
                        v-bind:botanicalname="plants.botanicalname"
                        v-bind:light="plants.light"
                        v-bind:petfriendly="plants.petfriendly">

            </tbody>
        </table>
    </div>





    <form v-on:submit.prevent="submitHandler">
        <fieldset>
            <legend>Add a plant to the collection</legend>
            <div>
                <label for="name">Name</label>
                <input id="name" type="text" v-model="newPlantObj.name">
            </div>

            <div>
                <label for="botanicalname">Botanical Name</label>
                <input id="botanicalname" type="text" v-model="newPlantObj.botanicalname">
            </div>

            <div>
                <label for="light">Light</label>
                <input id="light" type="text" v-model="newPlantObj.light">
            </div>

            <div>
                <label for="petfriendly">Pet Friendly</label>
                <input id="petfriendly" type="text" v-model="newPlantObj.petfriendly">
            </div>
            <button type="submit">Submit</button>
        </fieldset>
    </form>

 <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="plants.js"></script>
</body>
</html>
